@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

//  ----------------- SCSS Variables -----------------------
$primary-font: "DM Serif Display", serif;
$secondary-font: "Karla", serif;
//  Primary
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
//  Neutral
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

body,
html {
    font-size: 10px;
    font-weight: 400;
    font-family: $secondary-font;
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2 {
    font-family: $primary-font;
    color: $very-dark-violet;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover,
button:hover {
    transition: all 0.3s ease-in;
    cursor: pointer;
}

// Navbar Header
nav {
    padding: 4rem 12rem;

    .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 120rem;
        margin: 0 auto;

        .nav__logo {
            img {
                max-width: 12rem;
            }
        }

        .nav__links {
            display: flex;
            align-items: center;
        }

        .nav__list {
            display: flex;
            gap: 4rem;
        }

        .nav__link {
            text-decoration: none;
            color: $grayish-blue;
            font-size: 1.4rem;
            text-transform: uppercase;
            transition: color 0.3s;
        }

        .nav__link:hover {
            color: $very-dark-violet;
        }

        /* ---------------- Button --------------- */
        .btn {
            padding: 0.8rem 2rem;
            border: 0.2rem solid $dark-violet;
            color: $dark-violet;
            text-transform: uppercase;
            transition: background-color 0.3s;

            &:hover {
                background-color: $very-dark-violet;
                color: $very-light-gray;
            }
        }
    }
}

.nav__hamburger {
    display: none;
    cursor: pointer;
}

.nav__hamburger {
    width: 3rem;
    height: 3rem;
}



// Hero Section

.hero__section {
    position: relative;

}

.hero__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 9rem 0rem 9rem 12rem;
    background-color: $dark-violet;
    z-index: 0;
}

.patternimg__right {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 26%;
    height: auto;
    z-index: 10;
    margin-top: -5.5rem;
    clip-path: inset(13% 0 0 0);
}

.patternimg__right--mobile {
    display: none;
}

.patternimg__left {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    margin-top: 40rem;
    max-width: 16rem;
}

.patternimg__left--mobile {
    display: none;
}


.hero__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 2rem 0;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }
}

.hero__left {
    max-width: 50%;
    padding-right: 4rem;

    div {
        max-width: 25%;
        background-color: $very-light-gray;
        height: 0.1rem;
        margin-bottom: 5rem;
    }

    h1 {
        font-size: 6vw;
        margin-bottom: 3.5rem;
        font-weight: 500;
        color: $very-light-gray;
        line-height: 0.8;
    }

    p {
        font-size: 1.4rem;
        color: $very-light-gray;
        margin-bottom: 2rem;
        font-weight: 100;
    }

    button {
        padding: 0.8rem 2rem;
        border: 0.15rem solid $very-light-gray;
        color: $very-light-gray;
        text-transform: uppercase;
        background-color: $dark-violet;

        &:hover {
            background-color: $very-light-gray;
            color: $very-dark-violet;
        }
    }
}

.hero__right {
    max-width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    margin-top: 2rem;

    img {
        max-width: 85%;
        height: auto;
    }

    @media (max-width: 768px) {
        position: relative;
        max-width: 100%;
        margin-top: 0;
    }
}



.different__section {
    padding: 12rem 0;
}

.different__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem 9rem 0rem 9rem;
}

.different__container span {
    display: block;
    max-width: 15%;
    height: 0.2rem;
    background-color: $grayish-blue;
    margin-bottom: 2rem;
}

.different__container h1 {
    font-size: 7rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.different__cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.different__card {
    width: 30%;
    transition: transform 0.3s;
}

.different__card h1 {
    font-size: 2.5rem;
}

.different__card:hover {
    transform: translateY(-10px);
}

.different__card img {
    max-width: 10rem;
    margin-bottom: 2rem;
}

.different__card h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.different__card p {
    font-size: 1.5rem;
    color: $dark-grayish-violet;
    opacity: 80%;
}



// Work Section

.work__section {
    padding: 4vw 12vw;
    text-align: center;

    .work__container {
        max-width: 120rem;
        background: $dark-violet;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        .work__flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5rem 8rem;
            max-width: 100%;

            .work__heading h1 {
                font-size: 3.5vw;
                font-weight: 400;
                color: $very-light-gray;
                max-width: 60%;
                line-height: 1;
                letter-spacing: 0.1rem;
                text-align: start;
            }

            button {
                background-color: transparent;
                color: $very-light-gray;
                width: 11vw;
                height: 4rem;
                border: 0.2rem solid $very-light-gray;
                letter-spacing: 0.1rem;
                font-size: 0.9vw;
                text-transform: uppercase;
                z-index: 10;

                &:hover {
                    background-color: $very-light-gray;
                    color: $dark-violet;
                }
            }

        }

        .work__img {
            width: 28vw;
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .work__img--mobile {
            display: none;

            @media (max-width: 768px) {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}


// Footer Section

.footer__section {
    padding: 4rem 0;
    position: relative;
}

.footer__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 4rem;
    position: relative;
    text-transform: uppercase;
}

.footer__img,
.footer__img--mobile {
    width: 40%;
    height: auto;
    display: block;
}

.footer__img--mobile {
    display: none;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.footer__social-icon {
    display: flex;
    gap: 1.5rem;
}

.footer__social-icon img {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}


hr {
    margin: 4rem 0;
}


.footer__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.footer__company,
.footer__help,
.footer__contact,
.footer__others {
    display: flex;
    flex-direction: column;
}

.footer__company h1,
.footer__help h1,
.footer__contact h1,
.footer__others h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}


.footer__company li,
.footer__help li,
.footer__contact li,
.footer__others li {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.footer__social-icon img:hover {
    opacity: 0.7;
}




@media (max-width: 768px) {
    .nav__link {
        display: none;
    }

    .nav__hamburger {
        display: block;
    }

    .bg-pattern-right,
    .bg-pattern-left {
        width: 100%;
        height: auto;
    }


    .hero__container {
        padding: 6rem 1rem 6rem 1rem;
    }

    .hero__left {
        max-width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .hero__right {
        max-width: 100%;
        margin-top: 2rem;
        position: relative;
    }

    .hero__main {
        flex-direction: column-reverse;
        margin-top: 0rem;
    }

    .patternimg__right {
        margin-top: -1rem;
        max-width: 35%;
    }

    .patternimg__left {
        margin-top: 20rem;
        max-width: 12rem;
    }


    .hero__right img {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    

    .different__section {
        padding: 0rem;
    }

    .different__container h1 {
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .different__card {
        width: 100%;
        margin-bottom: 2rem;
    }

    .different__container {
        text-align: center;
    }

    .work__section {
        padding: 3rem 1.5rem;

        .work__container {
            .work__flex {
                padding: 2rem;
                flex-direction: column;

                .work__heading h1 {
                    font-size: 6.5rem;
                    max-width: 100%;
                    line-height: 1;
                    letter-spacing: 0.1rem;
                    text-align: center;
                }

                button {
                    width: 14rem;
                    margin-top: 5rem;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .footer__img--mobile {
        display: block;
    }

    .footer__img {
        display: none;
    }

    .footer__header {
        flex-direction: column;
        text-align: center;
    }

    .footer__social-icon {
        justify-content: center;
        margin-top: 20px;
    }


    .footer__main {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__company,
    .footer__help,
    .footer__contact,
    .footer__others {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__company h1,
    .footer__help h1,
    .footer__contact h1,
    .footer__others h1 {
        font-size: 16px;
    }

    .footer__company li,
    .footer__help li,
    .footer__contact li,
    .footer__others li {
        font-size: 14px;
    }
}


@media (max-width:480px) {
    nav {
        padding: 4rem 4rem;
    }

    .hero__container {
        padding: 0rem;
    }

    .hero__right {
        margin-top: -2rem;
    }

    .hero__left {
        padding: 1.5rem;

        div {
            display: none;
        }

        h1 {
            font-size: 4.5rem;
            line-height: 1;
            margin: 5rem 0rem 2rem 0rem;
        }

        p {
            font-size: 1.8rem;
        }

        button {
            border: 0.2rem solid $very-light-gray;
        }
    }

    .patternimg__right {
        display: none;
    }

    .patternimg__right--mobile {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: -22rem;
    }

    .patternimg__left--mobile {
        display: block;
        position: absolute;
        top: 0;
        margin-top: 43.4rem;
        left: 0;
    }

    .patternimg__left {
        display: none;
    }

    .different__section {
        margin-top: 9rem;
    }


    .different__container {
        padding: 2rem;
    }

    .different__container h1 {
        font-size: 4rem;
    }

    .different__card h1 {
        font-size: 2.5rem;
    }

    .work__section {

        .work__container {
            .work__flex {

                padding: 5rem 1rem 5rem 1rem;

                .work__heading h1 {
                    font-size: 4rem;
                }

                button {
                    width: 14rem;
                    font-size: 1.2rem;
                }
            }
        }
    }

    // Footer Section
    .footer__img--mobile {
        display: block;
    }

    .footer__img {
        display: none;
    }

    .footer__header {
        flex-direction: column;
        text-align: center;
    }

    .footer__social-icon {
        justify-content: center;
        margin-top: 20px;
    }


    .footer__main {
        grid-template-columns: 1fr;
    }

    .footer__company,
    .footer__help,
    .footer__contact,
    .footer__others {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__company h1,
    .footer__help h1,
    .footer__contact h1,
    .footer__others h1 {
        font-size: 16px;
    }

    .footer__company li,
    .footer__help li,
    .footer__contact li,
    .footer__others li {
        font-size: 14px;
    }
}